.wholeBox{
    height: 725px;
    width: 90%;
    margin: auto;
}
.header{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.045em;
}
.taskTitleBox{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    width: 50%;
    line-height: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-left: 32%;
}

.borderBelowTaskTitle{
    width: 50%;
    height: 2px;
    background-color: black;
    margin: auto;
    margin-left: 26%;
}
.container{
    margin-left: 15%;
    height: 7%;
    width: 70%;
}
.tasks{
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20%;
    width: 100%;
}


#inputField{
    width: 60%;
    height: 100%;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    margin-left: 15%;
}
#addButton{
    width: 13%;
    height: 100%;
    background: #2F80ED;
    border-radius: 20%;
}
.deleteButton{
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 170%;
    width: 80px;
}
.deleteButtonBox{
    width: 100%;
}
